.loading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    animation-name: fade-in;
    animation-duration: 3s;

    .loading-title {
        margin-top: 3rem;
    }

    .loading-icon {
        margin-top: 2rem;
    }
}

.houp-loading {
    width: 30rem;
    height: 30rem;

    //add animation
    animation-name: fade-in;
    animation-duration: 3s;

}