.customer-form-wrapper {
    min-width: 100%;
    background-color: lightgray;
    min-height: 33rem;

    .input-field-wrapper {
        flex-basis: 85%;
        
        .input-field-title {
            font-size: 200%;
        }
        
        .input-field-area {
            margin-top: 10rem;

            .input-text {
                min-width: 80%;
                height: 3.5rem;
            }
        }
    }

    .icons-wrapper {
        display: flex;
        flex-direction: column;
        flex-basis: 15%;
        text-align: center;
        justify-content: center;

        .icon {
            padding-top: 2rem;

            .bubble {
                display: inline-flex;
                position: absolute;
                height: 3rem;
                width: 8rem;
                border-radius: 1rem;
                padding: 0.5rem;
                margin-left: 1.5rem;
                align-items: center;
                justify-content: center;
                background-color: lightcoral;

                &:hover {
                    cursor: pointer;
                    background-color: green;
                }
            }
        }
    }
}