@keyframes circle-state-change {
    from {
      background-color: red;
    }
    to {
      background-color: blue;
    }
}

.circle {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;

    &.active {
      animation-name: circle-state-change;
      animation-duration: 0.55s;
      background-color: blue;
    }

    &:hover {
      cursor: pointer;
      background-color: green;
    }
}