.circle {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;

    &.active {
      background-color: blue;
    }

    &:hover {
      cursor: pointer;
      background-color: green;
    }
}